form{
    background:var(--primary-color2) ;
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    
    label{
        font-size: 2rem;
        font-weight: bold;
    }
    input,select{
        width: 100%;
        
    }
    
}