.nav-container {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 2;
    box-shadow: 0 0.2rem 0.2rem  rgba(59, 59, 59, 0.2);
  }
  nav {
    width: 80%;
    margin: auto;
    @include flexCenter();
    img{
      padding: 0.5rem 2rem;
    }
    ul {
      @include flexCenter();
      flex: 1;
      list-style: none;
      font-weight: 400;
      
    }
    #logo{
        flex: 2;
        letter-spacing: 1rem;
        font-weight: lighter;
    }
}