.nav-container {
    background-color: white;
  }
  nav {
    width: 80%;
    margin: auto;
    @include flexCenter();
    img{
      padding: 0.5rem 2rem;
    }
    ul {
      @include flexCenter();
      flex: 1;
      list-style: none;
      font-weight: 400;
      
    }
    #logo{
        flex: 2;
        letter-spacing: 1rem;
        font-weight: lighter;
    }
}