:root{
    /*colors*/
    --primary-color:#255758;
    --hover-color:#297172;
    --primary-color2:#b9715e;
    --hover-color2:#e7d5c3;

    /*font familyes*/
    --primary-font:'Poppins', sans-serif;
    --primary-font2:'Berkshire Swash', cursive;   
}